# CHAPTER03 화면 입출력과 리스트

## 3.2 화면 입출력

In [1]:
# 3.1 input
print("Enter your name:")
somebody = input()   # 콘솔 창에서 입력한 값을 somebody에 저장
print("Hi", somebody, "How are you today?")

Enter your name:
Song
Hi Song How are you today?

In [2]:
# 3.2 print
temperature = float(input("온도를 입력하세요: "))  # 입력시 바로 형변환
print(temperature)

온도를 입력하세요: 32
32.0

In [3]:
# fahrenheit
print("본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.")
print("변환하고 싶은 섭씨온도를 입력하세요.")

celsius = input()
fahrenheit = (float(celsius) * 1.8) + 32

print("섭씨온도:", celsius)
print("화씨온도:", fahrenheit)

본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.
변환하고 싶은 섭씨온도를 입력하세요.
38
섭씨온도: 38
화씨온도: 100.4

### 표준 출력 함수 : print()
- 화면에 결과를 출력하는 표준 출력 함수
- sep='separator': 개체가 분리하는 방법 지정, 기본값은 ''
- end='end': 끝에 출력할 항목 지정, 기본값은 '\n'

In [4]:
str1 = "Hi"
str2 = "Sun"
print(str1, str2)

Hi Sun

In [5]:
print(str1, str2, sep=", ")

Hi, Sun

In [6]:
print(1)
print(2)
print(3)

1
2
3

In [7]:
print(1, end=" ")
print(2, end=" ")
print(3, end=" ")

1 2 3

## 3.4 리스트의 이해

In [8]:
# 3.4 indexing

colors = ['red', 'blue', 'green']
print(colors[0])
print(colors[2])
print(len(colors))

red
green
3

In [9]:
# slicing

cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '광주']

In [10]:
cities[2:]

['인천', '대구', '대전', '광주', '울산', '수원']

In [11]:
cities[-8]

'서울'

In [12]:
cities[-7:-3]

['부산', '인천', '대구', '대전']

In [13]:
cities[-50:50]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [14]:
cities[::2]  # 증가값 2

['서울', '인천', '대전', '울산']

In [15]:
cities[::-1]   # 역순출력

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

### 리스트 연산

In [16]:
color1 = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color1 + color2)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [17]:
len(color1)

3

In [18]:
total_color = color1 + color2
total_color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [19]:
color1 * 2

['red', 'blue', 'green', 'red', 'blue', 'green']

In [20]:
'blue' in color2

False

In [21]:
'blue' in color1

True

### 리스트 메소드

In [22]:
# appendd : 리스트에 항목 추가
color = ['red', 'blue', 'green']

color.append('white')
color

['red', 'blue', 'green', 'white']

In [23]:
# extend : 리스트에 리스트 추가
color = ['red', 'blue', 'green']

color.extend(['black', 'purple'])
color

['red', 'blue', 'green', 'black', 'purple']

In [24]:
# insert : 특정 위치에 항목 추가
color = ['red', 'blue', 'green']

color.insert(0, 'orange')
color

['orange', 'red', 'blue', 'green']

In [25]:
# remove : 특정 항목 삭제
color = ['red', 'blue', 'green']

color.remove('red')
color

['blue', 'green']

In [26]:
# modify : 특정 위치의 값 변경/재할당
color = ['red', 'blue', 'green']

color[0] = 'orange'
color

['orange', 'blue', 'green']

In [27]:
# del : 특정 인덱스 값 삭제
del color[0]
color

['blue', 'green']

In [28]:
# sort : 리스트 정렬
lst = [10, 40, 20, 30]
print(lst)

lst.sort()
print(lst)

[10, 40, 20, 30]
[10, 20, 30, 40]

In [29]:
lst = ['banana', 'apple', 'strawberry', 'orange']
print(lst)

lst.sort()
print(lst)

['banana', 'apple', 'strawberry', 'orange']
['apple', 'banana', 'orange', 'strawberry']

In [30]:
# reverse : 리스트 항목 반전
lst = ['banana', 'apple', 'strawberry', 'orange']
print(lst)

lst.reverse()
print(lst)

['banana', 'apple', 'strawberry', 'orange']
['orange', 'strawberry', 'apple', 'banana']

In [31]:
# index : 리스트 요소 값에 대한 인덱스를 반환 
lst = [10, 40, 20, 30]
print(lst)
print(lst.index(10))
print(lst.index(20))

[10, 40, 20, 30]
0
2

In [32]:
# pop : 리스트 요소를 방출
lst = [10, 40, 20, 30]
print(lst)

lst.pop()
print(lst)

lst.pop(0)
print(lst)

[10, 40, 20, 30]
[10, 40, 20]
[40, 20]

In [33]:
# count : 리스트 요소의 갯수 계산
lst = [10, 20, 20, 30, 30, 30]
print(lst)
print(lst.count(20))
print(lst.count(30))

[10, 20, 20, 30, 30, 30]
2
3

### 패킹과 언패킹

In [34]:
t = [1, 2, 3]  # 패킹 : 1, 2, 3을 리스트로 변수 t에 패킹  (할당)
a, b, c = t    # 언패킹 : t에 있는 값들을 각 변수로 언패킹 (반환)
print(t, a, b, c)

[1, 2, 3] 1 2 3

In [35]:
a, b, c, d, e = t

ValueError: not enough values to unpack (expected 5, got 3)

In [36]:
a, b = t

ValueError: too many values to unpack (expected 2)

### 이차원 리스트

In [37]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [29, 79, 49, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
midterm_score

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [29, 79, 49, 60, 100]]

In [38]:
midterm_score[0][2]

20

### 중첩 리스트 (Nested List)

In [39]:
lst = [1, 2, 3, ["One", "Two", "Three"]]
print(lst)

[1, 2, 3, ['One', 'Two', 'Three']]

In [40]:
print(lst[3])

['One', 'Two', 'Three']

In [41]:
print(lst[3][0])
print(lst[3][1])
print(lst[3][2])

One
Two
Three

### 리스트의 메모리 관리 이해

In [42]:
midterm_score

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [29, 79, 49, 60, 100]]

In [43]:
math_score

[43, 59, 85, 30, 90]

In [44]:
math_score[0] = 1000
math_score
midterm_score

[[49, 79, 20, 100, 80], [1000, 59, 85, 30, 90], [29, 79, 49, 60, 100]]

In [45]:
a = 300
b = 300
a is b  
# is : 메모리의 주소를 비교하는 연산

False

In [46]:
a == b 
# == : 값의 크기 비교하는 연산

True

In [47]:
a = 1
b = 1
a is b
# -5부터 256까지의 정수값은 특정 메모리 주소에 저장한다.
# 해당 숫자를 할당하려고 하면 해당 변수는 그 숫자가 가진 메모리 주소로 연결한다.
# 따라서 주소와 값이 모두 같은 것으로 나온다.

True

In [48]:
a == b

True

In [49]:
a = ["color", 1, 0.2]
color = ['yellow', 'blue', 'green', 'black', 'purple']
print(a)
print(color)

['color', 1, 0.2]
['yellow', 'blue', 'green', 'black', 'purple']

In [50]:
a[0] = color
print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

In [51]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a
print(b)

[5, 4, 3, 2, 1]

In [52]:
a.sort()
print(b)

[1, 2, 3, 4, 5]

In [53]:
b = [6, 7, 8, 9, 10]
print(a, b)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

## 연습문제

In [54]:
# 1 
a = [0, 1, 2, 3, 4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [55]:
# 2
a = [0, 1, 2, 3, 4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [56]:
# 3 
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]

order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [57]:
# 4 
list_a = [3, 2, 1, 4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [58]:
# 5
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c = c.sort()
print(c)

None

In [59]:
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c.sort()
print(c)

[1, 3, 3, 5, 7, 9]

In [60]:
# 7
fruits = ['apple', 'banana', 'cherry', 'grape', 'orange', 'strawberry', 'melon']
print(fruits[-3:], fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [61]:
# 8 
num = [1, 2, 3, 4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [62]:
# 9
a = [1, 2, 3, 5]
b = ['a', 'b', 'c', 'd', 'e']

a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [63]:
# 10
list_a = ['Hankook', 'University', 'is', 'an', 'academic', 'institute', 'located', 'in', 'South Korea']
list_b = []
for i in range(len(list_a)):
    if i % 2 != 1:
        list_b.append(list_a[i])
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

In [64]:
# 11 
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: 2018
<class 'str'>

In [65]:
# 12
country = ["Korea", "Japan", "China"]
capital = ["Seoul", "Tokyo", "Beijing"]
index = [1, 2, 3]
country.append(capital)
print(country)

['Korea', 'Japan', 'China', ['Seoul', 'Tokyo', 'Beijing']]

In [66]:
country[3][1] = index[1:]  # 'Tokyo' 자리에 [2, 3]
print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]

In [67]:
# 13
week1 = ["Mon", "Tue", "Wed"]
week2 = ["Thu", "Fri", "Sat","Sun"]
week3 = [week1 + week2]
print(week3)  # len(week3) = 1
print(week2[:len(week3)+1])

[['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']]
['Thu', 'Fri']

In [68]:
a = [5, 4, 3, 2, 1]
b = a
c = [5, 4, 3, 2, 1]
print(a is b)
print(a is c)

True
False