# CHAPTER07 자료구조

## 7.2 스택과 큐

### stack

In [1]:
a = [1, 2, 3, 4, 5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [2]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [3]:
a.pop()

20

In [4]:
a.pop()

10

In [5]:
# 7-1 stack
word = input("Input a word:")
word_list = list(word)
print("word_list: \t" , word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
    
print("result: \t", result)
print("word[::-1]: \t ", word[::-1])

Input a word:PYTHON
word_list: 	 ['P', 'Y', 'T', 'H', 'O', 'N']
result: 	 ['N', 'O', 'H', 'T', 'Y', 'P']
word[::-1]: 	  NOHTYP

### Queue

In [6]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [7]:
a.pop(0)

1

In [8]:
a.pop(0)

2

## 7.3.1 tuple
- 리스트와 유사하지만 변경 불가능한 자료구조
- () 를 사용하여 정의

In [9]:
t = (1, 2, 3)
print("len(t): ", len(t))
print(t + t, t * 2)

len(t):  3
(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

In [10]:
t[1]

2

In [11]:
t[1] = 5  # 튜플은 값 변경 불가능

TypeError: 'tuple' object does not support item assignment

### tuple indexing

In [12]:
print(t[0], t[-2])

1 2

### nested tuple indexing

In [13]:
t = (1, 2, 3, ('One', 'Two', 'Three'))
print(t)
print(t[3])
print(t[3][1])

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
Two

## 7.3.2 set
- 데이터 중복을 허용하지 않는 자료구조
- 순서가 없는 데이터 집합
- 인덱싱 불가

In [14]:
s1 = set([1, 2, 3, 1, 2, 3])
s2 = {4, 5, 6}
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6}

In [15]:
# add() : 원소 하나를 추가
s1.add(1)   # 1을 추가하는 명령이지만, 중복 불허로 추가되지 않음
s1

{1, 2, 3}

In [16]:
# remove() : 원소 하나를 제거
s1.remove(1)
s1

{2, 3}

In [17]:
# update() : 새로운 리스트를 그대로 추가
s1.update([1, 4, 5, 6, 7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [18]:
# discard() : 원소 하나를 제거
s1.discard(3)
s1

{1, 2, 4, 5, 6, 7}

In [19]:
# clear() : 모든 변수를 지움 
s1.clear()
s1

set()

### set operators, methods
- 교집합 : &, intersection()
- 합집합 : |, union()
- 차집합 : -, difference()
- 대칭차 : ^, symmetric_difference()

In [20]:
s1 = {10, 20, 20, 30}
s2 = {30, 30, 40, 50}
print(s1)
print(s2)

{10, 20, 30}
{40, 50, 30}

In [21]:
print(s1 & s2)
print(s1 | s2)
print(s1 - s2)
print(s1 ^ s2)

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

In [22]:
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

## 7.4 dictionary
- key, value 의 쌍으로 구성된 자료구조
- 순서가 없는 데이터
- key를 이용하여 value 검색
- 동일한 key가 있을 경우 덮어씀

In [23]:
student_info = {20140012: 'Sungchul', 20140059: 'Jiyong', 20140058: 'JaeHong'}
print(student_info)

{20140012: 'Sungchul', 20140059: 'Jiyong', 20140058: 'JaeHong'}

In [24]:
student_info[20140012]

'Sungchul'

In [25]:
student_info[20140012] = 'Janhyeok'
student_info[20140039] = 'Wonchul'
student_info

{20140012: 'Janhyeok',
 20140059: 'Jiyong',
 20140058: 'JaeHong',
 20140039: 'Wonchul'}

### dictionary methods

In [26]:
country_code = {'America': 1, 'Korea': 82, 'China': 86, 'Japan':81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [27]:
print(country_code.keys())
print(country_code.values())
print(country_code.items())

dict_keys(['America', 'Korea', 'China', 'Japan'])
dict_values([1, 82, 86, 81])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])

In [28]:
'Korea' in country_code.keys()

True

In [29]:
'German' in country_code.keys()

False

In [30]:
82 in country_code.values()

True

In [31]:
49 in country_code.values()

False

## 7.5 collections 모듈
파이썬의 내장 자료구조 모듈

컨테이너 데이터형

In [32]:
from collections import deque, OrderedDict, defaultdict, Counter, namedtuple

### deque
양쪽 끝에서 빠르게 추가와 삭제를 할 수 있는 리스트형 컨테이너

In [33]:
deque_list = deque()
for i in range(5):
    deque_list.append(i)

print(deque_list)

deque([0, 1, 2, 3, 4])

**deque_list.pop()**

- 오른쪽 요소부터 하나씩 추출
- 스택처럼 나중에 넣은 값부터 하나씩 추출할 수 있음

In [34]:
deque_list.pop()

4

In [35]:
deque_list.pop()

3

In [36]:
deque_list.pop()

2

In [37]:
deque_list

deque([0, 1])

**appendleft()**

- 먼저 들어간 값부터 출력될 수 있음

In [38]:
deque_list = deque()
for i in range(5):
    deque_list.appendleft(i)

print(deque_list)

deque([4, 3, 2, 1, 0])

**rotate()**

- 기존 deque에 저장된 요소들의 값 인덱스를 바꾸는 기법

In [39]:
deque_list.rotate(2)
deque_list
# 2칸 밀림

deque([1, 0, 4, 3, 2])

In [40]:
deque_list.rotate(3)
deque_list

deque([4, 3, 2, 1, 0])

In [41]:
# reversed() : 기존과 반대로 데이터 저장
deque(reversed(deque_list))

deque([0, 1, 2, 3, 4])

In [42]:
# extend() : 리스트가 통째로 오른쪽으로 추가
deque_list.extend([5, 6, 7])
deque_list

deque([4, 3, 2, 1, 0, 5, 6, 7])

In [43]:
# extendleft() : 리스트가 통째로 왼쪽으로 추가
deque_list.extendleft([8, 9])
deque_list

deque([9, 8, 4, 3, 2, 1, 0, 5, 6, 7])

### OrderedDict
항목이 추가된 순서를 기억하는 딕셔너리 서브 클래스

In [44]:
# 7-2 ordereddict1
# 딕셔너리는 순서를 보장하지 않는 객체
d = {}

d['x'] = 100
d['l'] = 500
d['y'] = 200
d['z'] = 300

for k, v in d.items():
    print(k, v)

x 100
l 500
y 200
z 300

In [45]:
# 7-3 ordereddict2
# OrderedDict는 키의 순서를 보장
# 입력한 키의 순서(x, y, z, l]대로 화면에 결과 출력
d = OrderedDict()

d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 400

for k, v in d.items():
    print(k, v)

x 100
y 200
z 300
l 400

In [46]:
# 7-4 ordereddict3
# 키를 기준으로 정렬한 후, 다시 OrderedDict로 감싸주는 방식
# 기존의 딕셔너리나 리스트의 순서를 지키면서 딕셔너리 형태로 관리 가능
def sort_by_key(t):
    return t[0]

d = dict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 400

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print(k, v)

l 400
x 100
y 200
z 300

In [47]:
sorted(d.items(), key=sort_by_key)

[('l', 400), ('x', 100), ('y', 200), ('z', 300)]

In [48]:
# 값 기준으로 정렬한 후, 다시 OrderedDict로 감싸주는 방식
def sort_by_value(t):
    return t[1]

d = dict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 400

for k, v in OrderedDict(sorted(d.items(), key=sort_by_value)).items():
    print(k, v)

x 100
y 200
z 300
l 400

### defaultdict
- 누락된 값을 제공하기 위해 팩토리 함수를 호출하는 딕셔너리 서브 클래스
- 딕셔너리의 변수를 생성할 때 키에 기본값을 지정하는 방법

In [49]:
# 일반 딕셔너리
d = dict()
print(d["first"])
# 코드에서 first의 키 값을 별도로 생성하지 않은 채 바로 호출하여 오류 발생

KeyError: 'first'

In [50]:
# 7-6 defaultdict2
d = defaultdict(lambda: 0)  # default값을 0으로 설정
print(d["first"])

0

In [51]:
# 7-7 defaultdict3
# list를 default_factory로 사용. 키-값 시퀀스를 리스트의 딕셔너리로 그룹화
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)

for k, v in s:
    d[k].append(v)
    
print(d.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [52]:
# set를 default_factory로 사용. 집합의 딕셔너리 생성
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(set)

for k, v in s:
    d[k].add(v)
    
print(d.items())

dict_items([('yellow', {1, 3}), ('blue', {2, 4}), ('red', {1})])

### Counter
- 시퀀스 자료형의 데이터 값의 개수를 세는 딕셔너리 서브 클래스

In [53]:
text = list('gallahad')
text

['g', 'a', 'l', 'l', 'a', 'h', 'a', 'd']

In [54]:
c = Counter(text)
c

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1})

In [55]:
c['a']

3

#### counter methods

In [56]:
# elements(): 각 요소의 개수만큼 리스트형의 결과 출력. 1보다 작으면 무시
c = Counter(a=4, b=2, c=0, d=-2)
print(c)
print(list(c.elements()))

Counter({'a': 4, 'b': 2, 'c': 0, 'd': -2})
['a', 'a', 'a', 'a', 'b', 'b']

In [57]:
# most common(n) : 빈도수가 가장 높은 n개의 요소 반환.
### n을 생략하면 모든 요소. 개수가 같은 요소는 처음 발견된 것 순서로.
Counter('abracadabra').most_common(3)

[('a', 5), ('b', 2), ('r', 2)]

In [58]:
Counter('abracadabra').most_common()

[('a', 5), ('b', 2), ('r', 2), ('c', 1), ('d', 1)]

In [59]:
# subtract : 요소의 개수 빼기
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)  # c-d
c

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [60]:
# +, -, &, | : 0이하는 결과에서 제외
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)

print(c + d)
print(c - d)
print(c & d)
print(c | d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'a': 3})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

### namedtuple
이름 붙은 필드를 갖는 튜플 서브 클래스를 만드는 팩토리 함수

In [61]:
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)
p

Point(x=11, y=22)

In [62]:
p.x, p.y

(11, 22)

In [63]:
p[0] + p[1]

33

In [64]:
x, y = p   #unpack
x, y

(11, 22)

In [65]:
p.x + p.y

33

## lab : textmining

In [66]:
text = """A press release is the quickest and easiest way to get free publicity.
If well written, a press can release can result in multiple published articles about 
your firm and its products. And that can mean new prospects contacting you asking you 
to sell to them. ...""".lower().split()

word_count = defaultdict(lambda: 0)

for word in text:
    word_count[word] += 1
for i, v in OrderedDict(sorted(word_count.items(), key=lambda t: t[1], reverse=True)).items():
    print(i, v)

and 3
to 3
can 3
a 2
press 2
release 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
... 1

In [67]:
c = Counter(text)
c

Counter({'a': 2,
         'press': 2,
         'release': 2,
         'is': 1,
         'the': 1,
         'quickest': 1,
         'and': 3,
         'easiest': 1,
         'way': 1,
         'to': 3,
         'get': 1,
         'free': 1,
         'publicity.': 1,
         'if': 1,
         'well': 1,
         'written,': 1,
         'can': 3,
         'result': 1,
         'in': 1,
         'multiple': 1,
         'published': 1,
         'articles': 1,
         'about': 1,
         'your': 1,
         'firm': 1,
         'its': 1,
         'products.': 1,
         'that': 1,
         'mean': 1,
         'new': 1,
         'prospects': 1,
         'contacting': 1,
         'you': 2,
         'asking': 1,
         'sell': 1,
         'them.': 1,
         '...': 1})

In [68]:
c['and']

3

## 연습문제

In [69]:
# 1 
print(3 ** 5)
print(15 % 4)
a = 4
a -= 3
print(a)
a = {'prof.Choi' : 'The best'}
print(type(a))

243
3
1
<class 'dict'>

In [70]:
# 2 
list_1 = [0, 3, 1, 7, 5, 0, 5, 8, 0, 4]
def quiz_2(list_data):
    a = set(list_data)
    return (list(a)[1:5])
print(quiz_2(list_1))

[1, 3, 4, 5]

In [71]:
set(list_1)

{0, 1, 3, 4, 5, 7, 8}

In [72]:
# 3
country_code = {"America":1, "Korea":82, "China":86, "Japan":81}

In [73]:
country_code.values()

dict_values([1, 82, 86, 81])

In [74]:
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [75]:
country_code.keys()

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [76]:
85 in country_code.values()

False

In [77]:
"Korea" in country_code.keys()

True

In [78]:
# 6
def delete_a_list_element(list_data, element_value):
    if element_value in list_data:
        list_data.remove(element_value)
        return list_data
    else:
        return "False"

list_data = ['a', 1, 'gachon', '2016.0']
element = float(2016)
result = delete_a_list_element(list_data, element)
print(result)

False

In [79]:
# 7
def add_number(original_list):
    original_list += [1]
mylist=  [1, 2, 3, 4]
add_number(mylist)
print(set(mylist))

{1, 2, 3, 4}

In [80]:
# 8
a = [3, "apple", 2016, 4]
b = a.pop(0)
c = a.pop(1)
print(b)
print(c)
print(b + c)

3
2016
2019

In [81]:
# 9
def week_seven(sentence1):
    cells = set(sentence1.replace(' ', '').lower())
    return cells
sentence_a = "The quick brown fox jumps over the lazy dog"
sentence_b = "I love you"
print(len(week_seven(sentence_a)-week_seven(sentence_b)))

19

In [82]:
# 10
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

def quiz_1(data_1, data_2):
    result = []
    
    for i in (tuple_1 + tuple_2):
        result.append(i)
    return (result)

print(quiz_1(tuple_1, tuple_2))

[1, 2, 3, 4, 5, 6]

In [83]:
# 11
dict_1 = {2:1, 4:2, 6:3, 8:4, 10:6}

dict_keys = list(dict_1.keys())
dict_values = list(dict_1.values())

dict_2 = dict()

for i in range(len(dict_keys)):
    dict_2[dict_values[i]] = dict_keys[i]
    
print(dict_2[2])

4

In [84]:
# 12
animal = ['cat', 'snake', 'monkey', 'ant', 'spider']
legs = [4, 0, 2, 4, 8]
animal_legs_dict = {}
for i in range(len(animal)):
    animal_legs_dict[legs[i]] = animal[i]
animal_legs_dict['ant'] = 6
print(animal_legs_dict)

{4: 'ant', 0: 'snake', 2: 'monkey', 8: 'spider', 'ant': 6}

In [85]:
# 13
t = (1, 2, 3)
print(t + t)
print(t * 2)
print(t, t)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)
(1, 2, 3) (1, 2, 3)

In [86]:
# 14
Mydict = {'1': 1, '2': 2}
Copy = Mydict
Mydict['1'] = 5
result = Mydict['1'] + Copy['1']
print(result)

10

In [87]:
# 15
sentence = list("You Love Me?")
result = ''
for i in range(len(sentence)):
    if i % 3 == 0:
        result += sentence.pop()
    else:
        result += sentence.pop(0)
print(result)

?Yoeu MLo ve

In [88]:
# 16
number = [5, 6, 7, 8, 9, 1, 2, 3, 4]
result = []
result.append(number.pop(0))
result.append(number.pop())
result.append(number.pop(1))
result.append(number.pop())
result.append(number.pop(0))
print(number[0]+result[-1])

14

In [89]:
# 17 
a = list(range(10))
a.append(a[3])
a.pop(a[3])
a.insert(3, a[-1])
a.pop()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
# 18
box = [1, 'red', 3, (), [], None]
print(len(box))

6

In [91]:
# 19
data_1 = {'one':(1, 2, 3, 4, 5, 6), 'two': [1, 2, 3, 4, 5, 6], 'three':{'four':4, 'five':5}}
for k in ['one', 'two', 'three']:
    try:
        print(data_1[k][:1])
    except TypeError:
        print("error")
        
for k in ['one', 'two', 'three']:
    try:
        data_1[k][-1] = "a"
        print(data_1[k][-1])
    except TypeError:
        print("error")

(1,)
[1]
error
error
a
a

In [92]:
# 20
class_category = ["A" ,"B", "C", "D"]
student_category = ["Sam", "Sarah", "Jane", "John"]

class_student_cate = {}
for i in range(len(class_category)):
    class_student_cate[class_category[i]] = student_category[i]
    
print(class_student_cate)

{'A': 'Sam', 'B': 'Sarah', 'C': 'Jane', 'D': 'John'}