# CHAPTER08 파이썬 스타일 코드 I

## 8.2 문자열 분리 및 결합

In [1]:
example = 'python,jquery,javascript'
a, b, c = example.split(',')  # 리스트에 있는 각 값을 언패킹
print(a, b, c)

python jquery javascript

In [2]:
# join() : 문자열 리스트를 합쳐 하나의 문자열로 반환
# 구분자.join(리스트)
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [3]:
result = ', '.join(colors)
print(result)

red, blue, green, yellow

## 8.3 List Comprehension

In [4]:
# 10 이하의 짝수 생성
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [5]:
# if를 앞으로 보내고, else와 함께 사용
result = [i if i % 2 == 0 else 10 for i in range(10)]
print(result)

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [6]:
# 중첩 반복문
word1 = 'ABC'
word2 = 'DEA'
result = [i + j for i in word1 for j in word2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [7]:
# 이차원 리스트 - word2의 j가 고정
result = [[i + j for i in word1] for j in word2]
print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [8]:
# 이차원 리스트 - word1을 고정하고 싶다면?
result = [[j + i for i in word2] for j in word1]
print(result)

[['AD', 'AE', 'AA'], ['BD', 'BE', 'BA'], ['CD', 'CE', 'CA']]

In [9]:
# 벡터와 스칼라의 곱
# 8-1 loop (일반 반복문 + 리스트)
import time
start = time.time()

def scalar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    scalar_vector_product(scalar, vector)
    
end = time.time()
print(end - start)

17.868425846099854

In [10]:
# 벡터와 스칼라의 곱 
# 8-2 list comprehension
start = time.time()

iteration_max = 10000

scalar = 2

for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]
    
end = time.time()
print(end - start)

19.075814247131348

## 8.4 다양한 방식의 리스트값 출력

### enumerate
인덱스를 붙여 리스트 값 추출  (enumerate : 열거하다)

In [11]:
for i, v in enumerate(['tic', 'tac', 'toc']):
    print(i, v)

0 tic
1 tac
2 toc

In [12]:
dic = {i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea'.split())}
print(dic)

{0: 'TEAMLAB', 1: 'is', 2: 'an', 3: 'academic', 4: 'institute', 5: 'located', 6: 'in', 7: 'South', 8: 'Korea'}

### zip
두 그룹의 요소들을 서로 엮음

In [13]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist): # 병렬로 값 추출
    print(a, b)

a1 b1
a2 b2
a3 b3

In [14]:
ablist = list(zip(alist, blist))  
print(ablist)

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [15]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [16]:
[sum(x) for x in zip(a, b, c)]

[6, 60, 600]

In [17]:
no = [1, 2, 3, 4]
name = ['hong', 'gil', 'dong', 'nim']
dic = {}

for no, name in zip(no, name):
    dic[no] = name

print(dic)

{1: 'hong', 2: 'gil', 3: 'dong', 4: 'nim'}

In [18]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

## 연습문제

In [19]:
# 1
mylist = ['apple', 'banana', 'grape']
result = list(enumerate(mylist))
print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]

In [20]:
# 2
cat_song = "my cat has blue eyes, my cat is cute"
print({i:j for j, i in enumerate(cat_song.split())})

{'my': 5, 'cat': 6, 'has': 2, 'blue': 3, 'eyes,': 4, 'is': 7, 'cute': 8}

In [21]:
# 3
colors = ['orange', 'pink', 'brown', 'black', 'white']
result = '&'.join(colors)
print(result)

orange&pink&brown&black&white

In [22]:
# 4 
user_dict = {}
user_list = ["students", "superuser", "professor", "employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

In [23]:
# 5
result = [i for i in range(10) if i%2==0]
print(result)

[0, 2, 4, 6, 8]

In [24]:
items = 'zero one two three'.split("two")
print(items)
result = [i for i in range(10)]
print(result)

['zero one ', ' three']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [26]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')
print(subdomain)

cs50

In [27]:
# 6
animal = ['Fox', 'Dog', 'Cat', 'Monkey', 'Horse', 'Panda', 'Owl']
print([ani for ani in animal if 'o' not in ani])

['Cat', 'Panda', 'Owl']

In [28]:
# 7
name = "Hanbit University"
student = ["Hong", "Gil", "Dong"]
split_name = name.split()
join_student = ''.join(student)
print(join_student[-4:] + split_name[1])

DongUniversity

In [29]:
# 8
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100] 
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score[0][2])

20

In [30]:
# 9
a = [1, 2, 3]
b = [4, 5, ]
c = [7, 8, 9]
print([[sum(k), len(k)] for k in zip(a, b, c)])

[[12, 3], [15, 3]]

In [31]:
# 10
week = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']
list_data = [week, rainbow]

print(list_data[1][2])

yellow

In [32]:
# 11
kor_score = [30, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 67, 15] 
midterm_score = [kor_score, math_score, eng_score]
print("score: ", midterm_score[2][1])

score:  79

In [33]:
# 12
alist = ["a", "b", "c"]
blist = ["1", "2", "3"]
abcd = []

for a, b in enumerate(zip(alist, blist)):
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("error")
        
print(abcd)

['a', '2', 'error']

In [34]:
list(enumerate(zip(alist, blist)))

[(0, ('a', '1')), (1, ('b', '2')), (2, ('c', '3'))]

In [35]:
# 13
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [36]:
# 14
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h"]
nums = [i for i in range(20)]
answer = [alpha+str(num) for alpha in alphabet for num in nums if num%2==0]
print(len(answer))

80

In [37]:
# 15
url = "cs50.gachon.ac.kr"
university_name = "Gachon University"
gachon_info = [(i+" "+j) for i,j in zip(university_name.split(" "), url.split("."))]
blank = 0
print(gachon_info[blank])

Gachon cs50